/.DS_Store
/SCORE 2 project
/Untitled-1.py
/code_cademy_scratchpad.py
/gabient_stomatologiczny.py
/pandas_to_excel_test.xlsx
/project_1
/test.xlsx
/test_modified.xlsx
/test_pandas.py
/Abruptly Goblins